.idea
__pycache__
with_flask/.env
prev_work/blog_latest/.idea
prev_work/blog_latest/.venv
prev_work/blog_latest/.env
prev_work/blog_latest/.DS_Store
final_blog/.idea
final_blog/.venv
final_blog/.env
final_blog/.DS_Store