.idea
__pycache__
prev_work/with_flask/.env
prev_work/blog_latest/.idea
prev_work/blog_latest/.venv
prev_work/blog_latest/instance
prev_work/blog_latest/.env
prev_work/blog_latest/.DS_Store
prev_work/blog_latest/__init__.py
prev_work/__init__.py
final_blog/.idea
final_blog/.venv
final_blog/instance
final_blog/.env
final_blog/.DS_Store



